{%include '/sitio/cabecera.html'%}
<body>
{%include '/sitio/menu.html' %}
 <main> 
    <div class="head-title">
      <div class="left">
        
        <ul class="breadcrumb">
          <li>
            <a href="#">Consultas</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Consultas productos</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="box-info">
      <li>
        <i class='bx bxl-android'></i>
        <span class="text">
          <h3>0910-20-388</h3>
          <p>Consulteee</p>
        </span>
      </li>
   </main>
  </section>

  {% include '/sitio/footer.html' %}
</body>
</html>
